{% for user in users %}
    <div class="user">
        <h3>{{ user.email }}</h3>
        {% if section == "requests" %}
            <button data-url="{% url 'friends_actions' 'accept' user.id %}" class="friend-action-btn">Підтвердити</button>
            <button data-url="{% url 'friends_actions' 'delete' user.id %}" class="friend-action-btn">Відхилити</button>

        {% elif section == "friends" %}
            <button>Повідомлення</button>
            <button data-url="{% url 'friends_actions' 'delete' user.id %}" class="friend-action-btn">Видалити</button>

        {% elif section == "recommendations" %}
            <button data-url="{% url 'friends_actions' 'add' user.id %}" class="friend-action-btn">Дотати</button>
            <button data-url="{% url 'friends_actions' 'ignore' user.id %}" class="friend-action-btn">Видалити</button>
        {% endif %}
        <hr>
    </div>
{% endfor %}