{% extends 'base.html' %}
{% load static %}

{% block meta%}
    <meta name="csrfToken" content = '{{ csrf_token }}'>    
{% endblock %}

{%block links%}
    <link rel = 'stylesheet' href = '{% static "chat_app/css/chat.css" %}'>
{% endblock %}

{% block content %} 
    <main class="chat-page">
        {% include "chat_app/particles/contacts.html" %}

        {% include "chat_app/particles/chatMain.html" %}
        
        <aside class="chat-side">
            {% include "chat_app/particles/individualChats.html" %}
            {% include "chat_app/particles/groupChats.html" %}
        </aside>
    </main>

    <div class="modal-cover" id="groupModal">
        {% include "chat_app/particles/modals/createGroup.html" %}
        {% include "chat_app/particles/modals/settingsGroup.html" %}
    </div>

    <script src = "{% static 'chat_app/js/chat.js' %}"></script>
    <script src = "{% static 'chat_app/js/group.js' %}"></script>
{%endblock%}