<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}{% endblock %}
        <title>{% block title%}{% endblock %}</title>
        {% block links%}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <a href = '{% url "chat" %}'>Чат</a>
                <a href = '{% url "auth" %}'>Реєстрація</a>
            </nav>
            {% block header%}{% endblock %}
        </header>
        {% block content%}{% endblock %}
        {% block scripts %}{% endblock %}
    </body>
</html>