<section class="chat-main">
    <div id="not-select">
        <h1 id="chat-title">Почніть нове спілкування</h1>
        <p id="chat-status">Оберіть контакт зі списку ліворуч <br> або створіть групу, щоб почати спілкування</p>
    </div>
    <div id="chat" class="chat-window" style="display: none;">
        <div id="messages" class="messages">
            <div id="load-message-line"></div>
        </div>
        <div id="control-elements">
            <input type="text" id="msg-input">
            <button id="send-msg">Send</button>
            <input type="file" id="message-files" accept="image/*" multiple>
        </div>
    </div>
</section>