{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %}{% endblock %}
        <title>{% block title%}{% endblock %}</title>
        <link rel = "stylesheet" href = '{% static "css/base.css" %}'>
        {% block links%}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <a href = '{% url "post_list" %}'>Список публікацій</a>
                {% if user.is_authenticated %}
                    <a href = '{% url "chat" %}'>Чат</a>
                    <a href = '{% url "post_create" %}'>Створити публікацію</a>
                    <a href = '{% url "friends" %}'>Друзі</a>
                    <a href = '{% url "settings" %}'>Налаштування</a>
                {% else %}                 
                    <a href = '{% url "auth" %}'>Реєстрація</a>
                {% endif %}
            </nav>
            {% block header%}{% endblock %}
        </header>
        {% block content%}{% endblock %}
        {% block scripts %}{% endblock %}
        
        {% if user.is_authenticated %}
            <script src = '{% static "js/presence.js"%}'></script>
        {% endif %}
    </body>
</html>