{% extends "base.html" %}
{% load static %}

{% block title %}
Реєстрація
{% endblock %}

{% block meta %}
    <meta name="csrfToken" content = '{{ csrf_token }}'>
{% endblock %}

{% block content %}
    <div id= "containerRegistration">
        {% include 'user_app/form_parts/form_registration.html'%}
    </div>
    
    <div id="containerLogin" style="display: none;">
        {% include 'user_app/form_parts/form_login.html'%}
    </div>

    <div id="containerConfirmEmail" style="display: none;">
        {% include 'user_app/form_parts/form_confirm_email.html'%}
    </div>
{% endblock %}

{% block scripts%}
    <script src = '{% static "user_app/js/auth.js"%}'></script>
{% endblock %}