{% load static %}

<form method="post" action = "{% url 'update_password' %}" id = 'profile-password-form'>
    {% csrf_token %}
    <p>Пароль</p>
    <button type="button" class = 'edit visible-save'>Редагувати пароль</button>
    <button type = 'submit' class = 'save visible-edit'>Зберегти</button>
    <button type = 'button' class = 'cancel visible-edit'>Скасувати</button>
    <div class="visible-dissable dissable visible-save">
        <label>Пароль</label>
        <p class="visible-save input">⁕⁕⁕⁕⁕⁕⁕⁕⁕⁕</p>
    </div>
    <div class="visible-edit">
        <label for="old-password">Старий пароль</label>
        <input type="password" name="old-password" id="old-password">
        <label for="new-password">Новий пароль</label>
        <input type="password" name="new-password" id="new-password">
        <label for="confirm-password">Підтвердити пароль</label>
        <input type="password" name="confirm-password" id="confirm-password">
    </div>
</form>